# Ignore the environment variables
.env

# Ignore the virtual environment
.venv/
venv/
env/

# Ignore Python cache and byte
__pycache__/
*.py[cod]

# Ignore OS files
.DS_Store
Thumbs.db

#Ignore Postgres
postgres/data/